.login {
  width: 100%;
  min-height: 100vh;
  background: #fff;
}

.login_title {
  font-size: 40px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: #7a7a7a;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.input {
  width: 80%;
  height: 53px;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 2px;
  padding: 6px;
}

.btn {
  width: 80%;
  height: 53px;
  border-radius: 6px;
  margin: 2px;
  background-color: orange;
  color: #ffffff;
  font-size: 20px;
}
